body{
    margin: 0;
    background-color:white;
    line-height: 2;
}
#nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    top: 0;
}
nav ul a{
display: flex;
flex-direction: row;
justify-content: flex-end;
padding: .5em;
font-size: 1.5em;
color: white;
}

nav a {
    padding: 0;
    text-decoration:none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav h1{
    color: white;
}

li{
    display: list-item;
}
div{
    display: block; 
}

h3{
    font-size: 2em;
    text-align: center;
    color: black;
}

#About{
    background-color: cornflowerblue;
    background-image: url("images/Hawaii.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

  #About img{
    width: 50%;
    height: 50%;
  }

  #Social{
      background-color: orange;
  }

  #contact{
      background-color: crimson;
  }

  #banner{
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8)),
    url(images/sunrise.jpg) no-repeat bottom;
    background-size: cover;
  }

#banner:after{
    content: "";
    height: 5rem;
    left: -5%;
    position: absolute;
        right: -5%;
    transform-origin: 0 0;
    z-index: 0;
}

.typing{
    position: absolute;
    max-width: 600px;
    left: 400px;
    align-self: center;
}

.typing h2{
  max-width: 600px;
  color: #fff;
  left: 200px;
  font-family: monospace;
  font-size: 2em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

main > section, main > footer {
min-height: 70vh;
}

section {
    display: block;
    height: auto;
}
nav, main > section {
    overflow: auto;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    list-style-position: outside;
    color: black;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 350px;
    height: 500px;
    margin: 1em;
    background-color: #eee;
    border: none;
    box-shadow: 0 0 22px rgba(0, 0, 0, .44);
    color: black;
}
.card h3{
    font-size: 2em;
    padding-top: 75%;
}
.card h4, .card p {
    margin: 1rem;
    color: black;
    top: 6px;
}

#landScape{
    display: flex;
    flex-direction: column;
    background-image: url("images/landscape.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: left;
    background-position-y: top;
    background-size: 350px 250px;
}
#blackAndWhite{
    display: flex;
    flex-direction: column;
    background-image: url("images/blackwhite.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: left;
    background-position-y: top;
    background-size: 350px 250px;
}
#city{
    display: flex;
    flex-direction: column;
    background-image: url("images/Seattle.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: left;
    background-position-y: top;
    background-size: 350px 250px;
}
#photos {
    display: flex;
    background-image: linear-gradient(to bottom right, black, white);
    flex-direction: row;
    color: white;
    width: 100%;
    height: 800px;
}
#photos h3{
    color: white;
}

#city h4, #landScape h4, #blackAndWhite h4{
    font-size: 2em;
    color: black;
}

#photos ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#photos h2{
    color: white;
}
#About > div{
    background-color: rgba(255, 255, 255, 0.65);
    padding: 2em;
    width: 75%;
    max-width: 600px;
}
.photo-p p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.photo-p{
    display: flex;
    align-self: center;
    justify-content: center;
}

#contact {
    background-color: #61b9d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label {
    margin: 1em 0;
}
label span {
    margin: 1em 0;
}
#contact label {
    display: flex;
    flex-direction: column;
}
textarea {
    height: 9em;
    margin: 0 0 0 0;
}

input, textarea {
    border: 1px solid rgb(27, 45, 211);
    padding: 0.5em;
    margin: 0 2em 0 0;
    width: 20em;
    font-size: 1em;
}
form button {
    width: auto;
    font-size: 1em;
    margin: 1em 0;
    align-self: flex-end;
    padding: 0.5em 1em;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: none;
}
/* Animation*/

@keyframes fade-slide-down{
    0%{
        opacity: 0;
        transform: translate(-4rem);
    }

    100%{
        opacity: 1;
        transform: none;
    }
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100%}
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }